.header {
  display: grid;
  justify-items: flex-end;
  padding-right: 30px;
  height: 72px;
  .user {
    width: 200px;
    display: grid;
    grid-template-columns: 40px 1fr 32px;
    align-items: center;
  }
}
