.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/images/login-bg.svg');
  background-size: cover;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 72px;
  padding-left: 32px;
  background: #ffffff;
  box-shadow: 0px 6px 10px rgba(0, 87, 89, 0.02);
}

.content {
  display: flex;
  min-width: 832px;
  min-height: 624px;
  border-left: 16px solid #5e707e;
  background-color: white;
  box-shadow: 0px 15px 60px rgba(0, 87, 89, 0.1);
}

.action-wrapper {
  display: flex;
  align-items: center;
}

.action {
  margin: 0 60px;
  padding: 12px 70px;
  border: none;
  border-radius: 6px;
  background: #00b2b6;
  font-size: 18px;
  line-height: 24px;
  box-shadow: 0px 8px 12px rgba(0, 87, 89, 0.1);
  outline: none;
}

.welcome {
  display: flex;
  padding: 68px 48px;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  background: url('/images/login-pic.svg');
  background-size: cover;
}

.slogan {
  margin: 12px 0;
  align-self: center;
  font-size: 30px;
  line-height: 36px;
}

.action,
.slogan,
.tip {
  color: white;
  letter-spacing: 0.05em;
}
