.button {
  min-width: 212px;
  min-height: 48px;
  background-color: #00b2b6;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 8px 12px rgba(0, 87, 89, 0.1);
  color: white;
  cursor: pointer;
}
