.header {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  grid-gap: 16px;
  align-items: center;
  min-height: 70px;
  border-bottom: 1px solid #efefef;
  box-sizing: border-box;
}

.table {
  transition: all 0.5s ease-in-out;
}

.table-hide {
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.table-show {
  height: auto;
  opacity: 1;
  visibility: visible;
}

.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  :global {
    .ant-btn-text {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
