.goods {
  height: 100%;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.table {
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 0 32px 32px 32px;
  background-color: #fff;
  overflow: auto;
}

.empty {
  height: 100%;
  display: grid;
  place-items: center;
}
