// menu
.ant-menu-item-selected,
.ant-menu-item-selected:hover,
.ant-menu-item-active:hover {
  color: #fff !important;
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid #00b2b6 !important;
}

.ant-menu-submenu-selected,
.ant-menu-submenu-title:hover,
.ant-menu-item:hover {
  color: #00b2b6 !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #00b2b6 !important;
  color: #fff !important;
}

//pagination
.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-disabled:hover .ant-pagination-item-link,
.ant-pagination-disabled:focus .ant-pagination-item-link {
  background: #f3fbfb;
  border: 1px solid rgba(0, 178, 182, 0.5) !important;
  color: rgba(0, 178, 182, 0.5) !important;
  border-radius: 8px !important;
}

.ant-pagination-options {
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    border: 1px solid rgba(0, 178, 182, 0.5) !important;
    color: rgba(0, 178, 182, 1) !important;
    border-radius: 8px !important;
  }
}

.ant-pagination-item-active {
  border-radius: 8px !important;

  a {
    background: #00b2b6;
    color: #fff !important;
    border-radius: 8px !important;
  }
}

// button

.ant-btn-lg {
  min-width: 136px;
  height: 40px;
  border-radius: 6px !important;
}

.ant-btn-default {
  color: #657683 !important;
  border-color: #657683 !important;
}

.ant-btn-primary {
  color: #fff;
  background: #00b2b6 !important;
  border-color: #00b2b6 !important;
  text-shadow: 0 -1px 0 rgba(0, 87, 89, 0.12);
  box-shadow: 0px 8px 12px rgba(0, 87, 89, 0.1) !important;
  border-radius: 6px !important;
}

// modal
.ant-modal {
  min-width: 840px;
}

.ant-modal-content {
  border-radius: 8px !important;
}

.ant-modal-header {
  padding: 24px 16px !important;
  color: #fff !important;
  background: #00b2b6 !important;
  border-bottom: 0px !important;
  border-radius: 8px 8px 0 0 !important;
}

.ant-modal-body {
  padding: 24px 16px 16px !important;
  background: #f3fbfb !important;
}

.ant-modal-close {
  color: #fff !important;

  &:hover {
    color: #ff836b !important;
  }
}

.ant-modal-title {
  color: #fff !important;
}

// avatar
.ant-avatar-image {
  box-shadow: 1px 1px 16px 5px rgba(0, 87, 89, 0.1);
}

//breadcrumb
.ant-breadcrumb {
  font-size: 20px !important;
}

// table
.ant-spin-nested-loading,
.ant-spin-container,
.ant-table-container,
.ant-table-empty {
  height: 100%;
}

.ant-table-empty {
  height: 100%;
  .ant-table-content {
    height: 100%;
    table {
      height: 100%;
    }
  }
}

//input
.ant-input {
  border-color: #00b2b6 !important;
  border-radius: 6px !important;
}

//select
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  border-color: #00b2b6 !important;
}

//upload
.ant-upload.ant-upload-select-picture-card {
  background: #f3fbfb !important;
  border-radius: 6px !important;
  border: none !important;
}

//modal
.ant-modal {
  min-width: 400px !important;
}
