// menu
.ant-menu-item-selected,
.ant-menu-item-selected:hover,
.ant-menu-item-active:hover {
  color: #fff !important;
}
.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid #00b2b6 !important;
}

.ant-menu-submenu-selected,
.ant-menu-submenu-title:hover,
.ant-menu-item:hover {
  color: #00b2b6 !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #00b2b6 !important;
  color: #fff !important;
}
