.box {
  background: #f3fbfb;
}

.logo {
  height: 72px;
  padding: 18px 32px;
  background-color: #fff;
  box-sizing: border-box;
}

.menu {
  margin-top: 16px;
  background-color: #fff;

  svg {
    margin: 0px 12px 0px 0px;
  }
}
