.box {
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 87, 89, 0.02);
  border-radius: 6px;
}

.title {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 24px 32px;
  border-bottom: 1px solid #efefef;
}

.form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 32px;
  padding-top: 24px;
  margin: 0 32px;

  :global {
    .ant-input-number,
    .ant-picker {
      width: 100%;
    }
  }
}

.horizontal {
  border-bottom: 1px solid #efefef;
  grid-column: 1 / 4;
}

.btns {
  grid-column: 1 / 4;
}

.order-no {
  padding-bottom: 24px;
}
