.material {
  height: 100%;
}

.info {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto auto;
  justify-items: end;
  grid-gap: 42px;
  padding: 24px 36px;
  background: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 1px solid #efefef;

  .order-no {
    justify-self: start;
  }
}

.material .table {
  height: calc(100% - 140px);
}
