.layout {
    height: 100vh;
    background: #f3fbfb;

    .header {
        background: #fff !important;
        height: 72px;
        margin-bottom: 20px;
    }

    .sider {

        background: #fff !important;
        width: 240px;
    }

    .content {
        background: #f3fbfb !important;
    }
}