.layout {
  height: 100vh;
  background: #f3fbfb;

  .header {
    background: #fff !important;
    height: 72px;
    padding: 0;
  }

  .sider {
    background: #fff !important;
    width: 240px;
  }

  .content {
    background: #f3fbfb !important;
  }
}
